@font-face {
    font-family: Lobster;
    src:  url('lobster.woff2') format('woff2'), 
		url('lobster.woff') format('woff'), 
		url('lobster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
